

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

* {
    font-family: 'Roboto', sans-serif;
}

button:focus {
    outline: 0;
    box-shadow: none!important;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  height: 100%;
}

body{
    position: relative;
    height: 100%;
}

main[role=main]{
    height:100%;
}

.wrapper{
    height: 100%;
    width: 100%;
}

.map {
    width: 100%;
    height: 100%
    /*height: 100vh;*/
}

.leaflet-container {
    background-color: #090909!important;
}

.leaflet-control-zoom a {
    background-color: #333 !important;
    color: #808080 !important;
    border-color: rgb(0, 0, 0) !important;
}

.leaflet-container.crosshair-cursor-enabled {
    cursor: default;
}

/*
    logo
*/

.logo {
    position: absolute;
    left: 30px;
    top: 20px;
    font-size: 1em;
    z-index: 9999;
    font-family: "Lucida Console", Monaco, monospace;
    font-weight: bold;
    opacity: 0.15;
    color: #fff;
    white-space: pre-line;
    text-transform: uppercase;
    line-height: 1em
}

@media only screen and (max-width: 768px) {
    .logo{
        left: auto;
        top: auto;
        bottom: 10px;
        right: 10px;
    }
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Opera and Firefox */
}

/*********************
info-panel
*********************/

/*
    scrollbar
*/

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgb(33, 33, 33);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }


.info-panel {
    position: absolute;
    right: 10px;
    top: 20px;
    z-index: 9999;
    opacity: 1;
    padding: 10px;
    background: transparent;
    visibility: visible;
    transition: visibility 0s, opacity 0.3s linear;
    color: white;
}
    .info-panel.info-hidden {
        visibility: hidden;
        opacity: 0;
    }

    .info-panel .info-container {
        max-width: 334px;
        background: rgba(0, 0, 0, 0.8);
        border: 1px solid rgba(100, 100, 100, 0.2);
        border-radius: 5px 5px 5px 0px;
        position: relative;
        padding: 10px;
        max-height: calc(100vh - 300px);
        overflow-y: auto;
        overflow-x: hidden;
    }
        .info-panel .info-container .btn-edit {
            position:absolute;
            right: 30px;
            top: 0px;
            padding: .05rem .5rem;
            font-size: .675rem;
            background-image: url(../img/edit_button_w.png);
            background-size: 18px;
            background-position: center;
            background-repeat: no-repeat;
            width: 25px;
            height: 31px;
        }
            .info-panel .info-container .btn-edit:hover{
                background-color: #3e3e3e;
            }
        .info-panel .info-container #btn-close-info {
            position: absolute;
            right: 0px;
            top: 0px;
            color: rgba(255, 255, 255, 0.80);
            width: 25px;
            height: 31px;
        }
            .info-panel .info-container #btn-close-info:hover {
                color: rgba(255, 255, 255, 1);
            }
        .info-panel .info-container table {
            width: 100%;
            font-family: sans-serif;
            text-align: left;
            color: white;
            font-size: 70%;
        }

    .info-panel .info-container .building-description{
        width: 100%;
        border: 1px solid #454545;
        padding: 5px;
        margin-top: 5px;
    }

        .info-panel .info-container .building-description.hidden{
            display: none;
        }
        .info-panel .info-container .building-description #info-klgd-descr {
            resize: none;
            width: 100%;
            display: block;
            white-space: pre-wrap;
            text-align: justify;
            /*overflow: scroll;
            overflow-x: hidden;*/
        }
        .info-panel .info-container .building-description img {
            max-height: 250px;
            max-width: 100%;
            margin-top: 5px;
            margin-bottom: 5px;
        }

    .info-panel th {
        text-transform: uppercase;
        color: rgba(255, 255, 255, 0.81);
    }

        .info-panel th::before {
            content: "• ";
        }

    .info-panel table td {
        padding: 2px;
        /*white-space: pre-wrap;*/
        color: #b1f1fdd9;
        text-transform: none;
    }

@media only screen and (max-width: 768px) {
    .info-panel {

        /*right: 50%;*/
        /*transform: translate(50%);*/
        top: auto;
        bottom: 10px;
        right: 0px;
    }
        .info-panel .info-container {
             max-width: none;
        }
}

    /**********************
    legend
**********************/
            .btn-hide-subtitle {
        position: absolute;
        top: 2px;
        right: 0px;
        width: 20px;
        height: 20px;
        cursor: pointer;
    }

        .btn-hide-subtitle .icon-hide {
            position: absolute;
            top: 2px;
            left: 2px;
            height: 10px;
            width: 10px;
            background-color: #999;
            clip-path: polygon(50% 0%, 100% 50%, 0% 50%);
            transition: background-color .15s;
        }

            .btn-hide-subtitle .icon-hide.show {
                clip-path: polygon(50% 100%, 100% 50%, 0% 50%);
            }

        .btn-hide-subtitle:hover .icon-hide {
            background-color: #fff;
        }



    .legends {
        position: absolute;
        right: 20px;
        bottom: 20px;
        background: transparent;
        z-index: 9999;
        opacity: 0.9;
    }

    .legend {
        background: rgba(0, 0, 0, 0.7);
        color: #d2d2d2;
        border: 1px solid rgba(100, 100, 100, 0.2);
        width: 334px;
        border-radius: 3px;
        padding: 10px;
    }

        .legend a {
            text-decoration: none;
        }

        .legend .legend-title {
            text-align: left;
            margin-bottom: 8px;
            margin-left: 8px;
            font-size: 80%;
            color: #d2d2d2;
            position: relative;
        }

        .legend .legend-subtitle {
            text-align: justify;
            margin-bottom: 8px;
            margin-left: 8px;
            padding-right: 8px;
            font-size: 70%;
            font-weight: 300;
            line-height: 1em;
            overflow: hidden;
            transition: max-height 1s ease-in-out .1s;
            max-height: 100px;
            /*background-color: rgba(0, 0, 0, 0.5);*/
            color: #b7b7b7;
        }

            .legend .legend-subtitle.hidden {
                max-height: 0px;
            }

        .legend .legend-scale ul {
            margin: 0;
            padding: 0;
            float: left;
            list-style: none;
        }

            .legend .legend-scale ul li {
                display: block;
                float: left;
                width: 25px;
                margin-bottom: 6px;
                margin-left: 8px;
                text-align: center;
                font-size: 70%;
                font-family: Arial;
                list-style: none;
                color: white;
            }

        .legend ul.legend-labels li span {
            -webkit-mix-blend-mode: hard-light;
            display: block;
            float: left;
            height: 10px;
            width: 33px;
            margin-bottom: 3px;
        }

        .legend .legend-source {
            color: #999;
            clear: both;
            font-size: 11px;
            text-align: left;
            vertical-align: middle;
            position: relative;
            overflow: hidden;
        }

            .legend .legend-source .info-button {
                position: relative;
                display: inline-block;
                float: right;
                margin-right: 6px;
                height: 16px;
                width: 16px;
                border-radius: 4px;
                padding: 0px;
                font-size: 10px;
                outline: none;
                border: 1px solid #c8c8c8;
                /*color: #c8c8c8;*/
            }

            .legend .legend-source .extra-info {
                display: inline-block;
                max-width: 300px;
                float: right;
                text-align: right;
                transition: all 1s ease-in-out;
                overflow: hidden;
                white-space: nowrap;
            }

                .legend .legend-source .extra-info.hidden {
                    max-width: 0px
                }

        .legend .copyright {
            color: #b7b7b7;
            font-size: .9em;
        }

            .legend .copyright:not(:last-child)::after {
                content: " • ";
            }
    /*.legend .copyright:last-child::after {
            content:;
        }*/


    @media only screen and (max-width: 768px) {

        .legends {
            right: 50%;
            transform: translate(50%);
            top: 20px;
            bottom: auto;
        }

        .legend {
            padding-top: 5px;
            padding-bottom: 5px;
        }

            .legend .legend-title {
                margin-bottom: 0px;
            }

            .legend ul.legend-labels li span {
                height: 5px;
            }

            .legend .legend-scale ul li {
                margin-bottom: 0px;
            }

            .legend .legend-source .info-button {
                display: none;
            }

            .legend .copyright {
                color: #8a8a8a;
                font-size: .8em;
            }
    }





/** Bootstrap Dark Modal Styles **/
.modal-open .modal, .btn:focus {
    outline: none !important;
}

.modal.dark {
    /*background-color: #2d3032;*/
}
    .modal.dark .modal-content {
        background: #40464b;
    }
    .modal.dark .modal-body {
        /*background: #40464b;*/
    }

    .modal.dark .modal-header {
        background: #2d3032;
        border-bottom: 1px solid #2a2c2e;
    }

        .modal.dark, .modal-header h1, .modal.dark .modal-header h2, .modal.dark .modal-header h3, .modal.dark .modal-header h4 {
            color: #ccc;
        }

    .modal.dark .card-footer {
        background: #2d3032;
        border-top: 1px solid #2a2c2e;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

    .modal.dark .modal-footer {
        border-top: 1px solid rgba(0,0,0,.125);
    }