

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

* {
    font-family: 'Roboto', sans-serif;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  height: 100%;
}

body{
    position: relative;
    height: 100%;
}

main[role=main]{
    height:100%;
}

.btn-edit {
    position: absolute;
    left: 30px;
    bottom: 20px;
    z-index: 9999;
}

.btn-edit-on {
    background-color: red;
}

.wrapper{
    height: 100%;
    width: 100%;
}

.map {
    width: 100%;
    height: 100%
    /*height: 100vh;*/
}

.leaflet-container {
    background-color: #090909!important;
}

.leaflet-control-zoom a {
    background-color: #333 !important;
    color: #808080 !important;
    border-color: rgb(0, 0, 0) !important;
}

.leaflet-container.crosshair-cursor-enabled {
    cursor: default;
}

/*
    logo
*/

.logo {
    position: absolute;
    left: 30px;
    top: 20px;
    font-size: 1em;
    z-index: 9999;
    font-family: "Lucida Console", Monaco, monospace;
    font-weight: bold;
    opacity: 0.15;
    color: #fff;
    white-space: pre-line;
    text-transform: uppercase;
    line-height: 1em
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

/*
    info-panel
*/


.info-panel {
    position: absolute;
    right: 30px;
    top: 20px;
    z-index: 9999;
    opacity: 0.8;
    padding: 10px;
    background: transparent;
    visibility: visible;
    transition: visibility 0s, opacity 0.3s linear;
}


.info-hidden {
    visibility: hidden;
    opacity: 0;
}

.info-panel .info-container {
    max-width: 334px;
    background: rgba(0, 0, 0, 0.9);
    border: 1px solid rgba(100, 100, 100, 0.2);
    border-radius: 3px;
    position: relative;
    padding:10px;
}

    .info-panel .info-container table {
        width: 100%;
        font-size: 70%;
        font-family: sans-serif;
        color: white;
        text-align: left;
    }


.info-panel th {
    text-transform: uppercase;
}

    .info-panel th::before {
        content: "• ";
    }

.info-panel table td {
    padding: 2px;
    white-space: pre-wrap;
    color: #B1F1FD;
    text-transform: none;
}

/*
    legend
*/

.btn-hide-subtitle {
    position: absolute;
    top: 2px;
    right: 0px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

    .btn-hide-subtitle .icon-hide {
        position: absolute;
        top: 2px;
        left: 2px;
        height: 10px;
        width: 10px;
        background-color: #999;
        clip-path: polygon(50% 0%, 100% 50%, 0% 50%);
    }
        .icon-hide.show {
             clip-path: polygon(50% 100%, 100% 50%, 0% 50%);
        }

.legends .legend {
    padding: 10px;
}

.legends {
    position: absolute;
    right: 20px;
    bottom: 20px;
    background: transparent;
    z-index: 9999;
    opacity: 0.9;
}

.legend {
    background: rgba(0, 0, 0, 0.7);
    color: #999;
    border: 1px solid rgba(100, 100, 100, 0.2);
    width: 334px;
    border-radius: 3px;
}

    .legend a {
        text-decoration: none;
    }

    .legend .legend-title {
        text-align: left;
        margin-bottom: 8px;
        margin-left: 8px;
        font-size: 80%;
        color: dimgrey;
        position: relative;
    }

    .legend .legend-subtitle {
        text-align: justify;
        margin-bottom: 8px;
        margin-left: 8px;
        font-size: 70%;
        color: dimgrey;
        line-height: 1em;
        overflow: hidden;
        transition: max-height 2s ease-in-out .2s;
        max-height: 100px;
        background-color: rgba(0, 0, 0, 0.5);
    }
    .legend .legend-subtitle.hidden {
        max-height: 0px;
    }

    .legend .legend-scale ul {
        margin: 0;
        padding: 0;
        float: left;
        list-style: none;
    }

        .legend .legend-scale ul li {
            display: block;
            float: left;
            width: 25px;
            margin-bottom: 6px;
            margin-left: 8px;
            text-align: center;
            font-size: 70%;
            font-family: Arial;
            list-style: none;
            color: white;
        }

    .legend ul.legend-labels li span {
        -webkit-mix-blend-mode: hard-light;
        display: block;
        float: left;
        height: 15px;
        width: 33px;
        margin-bottom: 3px;
    }

    .legend .legend-source {
        color: #999;
        clear: both;
        font-size: 11px;
        text-align: left;
        overflow: hidden;
        vertical-align: middle;
    }

        .legend .legend-source .info{
            position:relative;
        }

            .legend .legend-source .info .info-icon{
                height: 20px;
                width: 20px;
                border: 1px solid #808080;
                border-radius: 10px;
                float:right;
                position:relative;
                text-align:center;
            }

            .legend .legend-source .info .info-icon::after {
                content: "i";
                font-weight: 700;
                top: 2px;
                position:absolute;
            }

    .legend .copyright {
        float: right;
    }

    .legend a {
        color: #777;
    }