@{
    ViewData["Title"] = "Возраст сооружений Калининграда";
}
    <div id="modal-placeholder"></div>

    <div class="wrapper">
            <div id="map_l" class="map"> </div>


            @*<button class="btn-edit btn btn-primary btn-sm" data-toggle="edityear">Внести правку</button>*@
            <span class="logo noselect">
                Калининград
                Koenigsberg
            </span>

            <div id="info-panel" class="info-panel info-hidden">
                <div class="info-container">
                    <div>
                        <button id="edit-button" class="btn btn-edit" data-toggle="ajax-edit-modal" data-url=@Url.Action("EditBuilding", "Home") data-target="#editBuildingModal" title="Исправить"></button>
                        <button id="btn-close-info" class="btn btn-sm">&times;</button>
                    </div>
                    <table style="margin-right:55px">
                        <tbody>
                            <tr>
                                <th>Предполагаемый год постройки</th>
                            </tr>
                            <tr>
                                <td><span id="info-year"></span></td>
                            </tr>
                            <tr>
                                <th>Информация о местоположении</th>
                            </tr>
                            <tr>
                                <td style="white-space: pre-wrap;"><span id="info-address"></span></td>
                            </tr>
                        </tbody>
                    </table>
                    <div id="building-description" class="building-description hidden">
                        <table class="klgd-info">
                            <tbody>
                                <tr>
                                    <td style="text-align: center; color:white">
                                        Источник описания: <span id="info-source"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align:center">
                                        <img id="info-klgd-img" />
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        <span id="info-klgd-descr">textarea</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="legends " style="display: block;">
                <div class="legend">
                    <div class="my-legend">
                        <div class="legend-title">Калининград - периоды строительства
                            <div id="btnhide" class="btn-hide-subtitle">
                                <div class="icon-hide show"></div>
                            </div>
                        </div>
                        
                        <div id="subtitle" class="legend-subtitle">
                            Информация основана на контекстном анализе открытых данных и за достоверность
                            представленной информации разработчик ответственности не несет.
                            Представленная информация несет исключительно развлекательный характер.
                        </div>
                        <div class="legend-scale">
                            <ul class="legend-labels">
                                <li><span style="background:#d95b42;"></span>-1945</li>
                                <li><span style="background:#f39558;"></span>1953</li>
                                <li><span style="background:#f3b469;"></span>1964</li>
                                <li><span style="background:#e1be78;"></span>1982</li>
                                <li><span style="background:#cfc987;"></span>1985</li>
                                <li><span style="background:#bed395;"></span>1991</li>
                                <li><span style="background:#acdda4;"></span>1998</li>
                                <li><span style="background:#64bdab;"></span>2008</li>
                                <li><span style="background:#1c9bb2;"></span>2020</li>
                            </ul>
                        </div>
                        <div class="legend-source">
                            <button class="btn btn-outline-light info-button">i</button>
                                <div class="extra-info">
                                    <a class="copyright" href="https://leafletjs.com" title="A JS library for interactive maps">©Leaflet</a>
                                    <a class="copyright" href="https://github.com/johnzet39">Zlatanov Evgeniy</a>
                                    <span class="copyright">2020 &nbsp;</span>
                                </div>

                            </div>
                    </div>

                </div>
            </div>
    </div>